{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}{{ block.super }} | Change Password | {{ user.username }}{% endblock %}

{% block js %}
<script type="text/javascript"
        src="{% static "accounts/js/jquery.pwstrength.js" %}"></script>
<script type="text/javascript">
    jQuery(function($) { $('#new_password').pwstrength(); });
</script>
{% endblock %}


{% block css %}
<link href={% static "accounts/css/style.css" %} rel="stylesheet" type="text/css">
{% endblock %}


{% block body %}
<form action='' method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <p>Password Indicator</p>
    <div id="pwindicator">
        <div class="bar"></div>
        <div class="label"></div>
    </div>
    <br/>

    <input type="submit" class="button-primary" value="Submit">
</form>

{% endblock %}